/* ESTILOS GENERALES */

  *{

    margin: 0;
    padding: 0;

  }

  body{

    font-family: Helvetica;

  }

  .contenedor{

    margin: 0 auto;

  }

/* MODAL */

  .DivPadre{

    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 30000;
    text-align: center;

  }

  .DivModal{

    background-color: #fff;
    width: 300px;
    height: auto;
    margin: 10vh auto 0 auto;
    padding: 10px;
    border-radius: 5px;

  }

  .botonModal{
    text-decoration: none;
    padding: 5px;
    width: 110px;
    margin: 10px 5px 5px 5px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #F77D48;
    border-radius: 6px;
    border: 2px solid rgb(240, 97, 36);
  }

  .inputModal{

    border: 1px solid #DBE1EB;
  font-size: 18px;
  font-family: Arial, Verdana;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 4px;
  background: #FFFFFF;
  color: #2E3133;

  }

/* HEADER */

.header .top-header{

  position: absolute;
  width: 100%;
  height: auto;

}

.header .top-header .contenedor .logo{

  float: left;
  margin-left: 5%;
  display: inline-block;
  width: 5%;

}

.header .top-header .contenedor .logo a img{

  width: 85%;

}

.header .top-header .contenedor .logo a img:hover{
/*  Este estilo se aplica cuando se coloca el mouse encima del elemento  */
  opacity: .8;

}

.header .top-header .contenedor .top-login{

  position: absolute;
  margin-left: 77%;
  margin-right: 5%;
  display: inline;
  margin-top: -40px;

}

.header .top-header .contenedor .top-login button{

  text-decoration: none;
  padding: 5px;
  width: auto;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  background-color: #F77D48;
  border-radius: 9px;
  border: 2px solid rgb(240, 97, 36);

}

.header .top-header .contenedor .top-menu{

  display: inline;
  text-align: right;
  list-style: none;
  width: auto;
  font-size: 32px;

}

.header .top-header .contenedor .top-menu li{

  margin-right: 15%;

}

.header .top-header .contenedor .top-menu li a{

  text-decoration: none;
  color: #363940;
  padding: 10px 15px;
  margin: auto auto auto auto;

}

.header .top-header .contenedor .top-menu li a:hover{

  color: #F6F6F6;

}

.header .top-header .contenedor .top-menu li .carrito{

  margin: auto auto auto auto;
  height: 100%;

}

.header .top-header .contenedor .top-menu li .carrito img{

  margin: auto auto auto auto;
  margin-top: 10px;
  height: 40px;

}

.header .top-header .contenedor .top-menu li .carrito img:hover{

  opacity: .7;

}

/* MAIN */

.main{

  margin: auto auto;

}

/* BANNER */

.main .banner{



}

.main .banner .contenedor{

  width: 100%;

}

.main .banner .contenedor .banner-principal{

  width: 100%;

}

.main .banner .contenedor .banner-principal img{

  margin: auto 0 auto;
  width: 100%;
  height: 500px;

}

.main .banner .contenedor .texto-banner{

  position: absolute;
  text-align: center;
  float: right;
  margin-left: 65%;
  margin-top: 12%;

}

.main .banner .contenedor .texto-banner h1{

  text-decoration: none;
  color: #363940;
  font-size: 60px;
  padding: 10px 0;
  font-weight: 300;

}

.main .banner .contenedor .texto-banner button{

  text-decoration: none;
  width: 30%;
  padding: 7px;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  background-color: #F77D48;
  border-radius: 5px;
  border: 1px solid rgb(240, 97, 36);

}

/* TITULO */

.titulo-blog{

  margin: 20px 0px 40px 0px;
  text-align: center;

}

.titulo-blog .contenedor h1 a{

  text-decoration: none;
  color: #363940;
  font-size: 60px;
  padding: 10px 0;
  font-weight: 300;

}

.titulo-blog .contenedor h1 a:hover{

  color: #8b919c;

}

.titulo-blog .contenedor .subtitulo{

  font-size: 16px;
  letter-spacing: 1px;
  color: #9c9c9c;

}

/* MENU */

.menu-principal{

  margin-bottom: 40px;
  border-top: 1px solid #D8D8D8;
  border-bottom: 1px solid #D8D8D8;
  text-align: center;
  padding: 10px 0;

}

.menu-principal .contenedor input{

  height: 30px;
  text-align: center;
  border-radius: 5px;
  border-color: #D8D8D8;

}

/* PRODUCTOS */

.productos{

  width: 90%;
  margin: 0 auto 40px auto;
  border: 1px solid #D8D8D8;

}

.productos .widget{

  background: #fff;
  padding: 10px;
  margin: 20px 25px 20px 25px;
  border: 1px solid #D8D8D8;
  display: inline-block;

}

.productos .widget:hover{

  background: #F2F2F2

}

.productos .widget .prod .foto-prod{

  text-align: center;
  margin-bottom: 10px;

}

.productos .widget .prod .foto-prod img{

  width: 200px;
  height: 200px;

}

.productos .widget:hover .prod .foto-prod img{

  opacity: .4;

}

.productos .widget .prod .datos-prod{

  text-align: center;

}

.prod .datos-prod .nombre{

  text-align: center;
  color: #363940;
  font-size: 26px;
  margin-bottom: 5px;
  text-decoration: none;

}

.prod .datos-prod .precio{

  color: #363940;
  font-size: 16px;
  text-decoration: none;

}

.productos .widget .buy-prod{

  display: none;

}

.productos .widget:hover .buy-prod{

  display: block;

}

.productos .widget .buy-prod .descripcion{

  color: #363940;
  font-size: 16px;
  margin-bottom: 10px;

}

.productos .widget .buy-prod .buy-button{

  padding: 5px;
  width: auto;
  margin: 10px 5px 5px 5px;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  background-color: #F77D48;
  border-radius: 6px;
  border: 2px solid rgb(240, 97, 36);

}


/* FOOTER */

.footer{

  background: #fff;
  padding: 40px;
  border: 1px solid #f0f0f0;
  text-align: center;
  color: #9c9c9c;

}
